.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
}

.header__left{
    display: flex;
}

.header__left > img{
    object-fit: contain;
    height: 40px;
    margin-right: 5px;
}

.header__search{
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    padding: 10px;
    margin-left: 5px;
    color: gray;
    background-color: #eef3f8;
}

.header__search > input{
    outline: none;
    border: none;
    background: none;
}

.header__right{
    display: flex;
}