.inputOption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
    /* transition: 200ms color; */
}

.inputOption:hover{
    color: whitesmoke;
    border-radius: 10px;
}

.inputOption > h4{
    margin-left: 10px;
}

